@import "tailwindcss";

@theme {
  --font-serif: "Crimson Text", serif;
}

@utility pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

@utility pt-safe {
  padding-top: env(safe-area-inset-top);
}

@utility h-safe-screen {
  height: 100dvh;
}